page-login {

  ion-content {
    &.content {
      background: #666;
      display: flex;
      flex-direction: column;
    } 
  }
  .background {
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    //background: #2b9bff url('../assets/images/login-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    &:after {
      content: "\0020";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      //background: rgba(black,.5);
      position: absolute;
    }
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  #cloud-layer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .header {
    margin: 96px 0 48px;
  }
  .logo {
    width: 30%;
    max-width: 100px;
    height: auto;
    margin: -36px auto 16px;
    border-radius: 10px;
    background: #fff;
  }
  .welcome {
    font-size: 3rem;
    color: white;
    text-shadow: rgba(black,.5) 0 0 5px;
  }
  .loginIcon {
    font-size: 3rem;
    margin-left: 1rem;
  }
  ion-list {
    &.list {
      text-shadow: rgba(black,.3) 0 0 5px;
      border-radius: 3px;
      border: 1px solid rgba(white,.5);
      background: rgba(white,.3);
      & > .item-block {
        &, &:first-child, &:last-child {
          padding-left: 8px;
          background: transparent;
          border: none;
        }
        &:first-child {
          border-bottom: 1px solid rgba(white,.5);
        }
        .item-inner {
          border: none;
        }
        .icon-validate {
          width: 24px;
          margin-left: 8px;
          color: rgba(white,.7);
          text-align: center;
        }
        &.ng-dirty {
          &.ng-invalid {
            .icon-validate {
              &:before {
                content: "\f2bf";
              }
            }
          }
        }
      }
      .label {
        color: white;
      }
      .text-input {
        color: white;
        text-shadow: rgba(black,.3) 0 0 5px;
      }
      //clear validate
      &.list-md {
        .item-input {
          &, &:first-child, &:last-child {
            box-shadow: none !important;
          }
          &.input-has-focus, &:not(.input-has-focus) {
            &, &.ng-valid, &.ng-invalid {
              .item-inner {
                box-shadow: none !important;
              }
            }
          }
        }
      }
    }  
  }
  .text-input::placeholder {
    color: rgba(white,.7);
    text-shadow: rgba(black,.3) 0 0 5px;
  }
  .text-input::-webkit-input-placeholder {
    color: rgba(white,.7);
    text-shadow: rgba(black,.3) 0 0 5px;
  }
  .text-input:-moz-placeholder {
    color: rgba(white,.7);
    text-shadow: rgba(black,.3) 0 0 5px;
  }
  .text-input::-moz-placeholder {
    color: rgba(white,.7);
    text-shadow: rgba(black,.3) 0 0 5px;
  }
  .text-input:-ms-input-placeholder {
    color: rgba(white,.7);
    text-shadow: rgba(black,.3) 0 0 5px;
  }
  .errorLoginMsg {
    margin-top: 2rem;
  }
  .login-button {
    &.button-md {
      height: 3.6em;
    }
  }
  .forgot-button {
    text-shadow: rgba(black,.5) 0 0 5px;
  }
}