<ion-header>
  <ion-toolbar color="heading">
    <ion-searchbar #searchBar (ionInput)="doSearch($event)" (ionClear)="doClear()">
    </ion-searchbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light">Cancel</span>
        <!--<ion-icon name="md-close" showWhen="android,windows"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="position:static">
  <div class="dataContainer" *ngIf="initListData">

    <ion-item *ngIf="bundleEvents==null">
      <IMG src='assets/images/loading.svg' alt='loading' class="loadingImg">
    </ion-item>
    <ion-item *ngIf="bundleEvents!=null&&bundleEvents.length==0">
      <div class="container-no-data">
        <span><img src="assets/icon/no-data.png" alt=""></span>
        <span>No data found</span>
      </div>
    </ion-item>

    <ion-list *ngFor="let be of bundleEvents" mode="ios" no-lines>
      <ion-list-header class="bundleHeader">
        {{be.date | date: 'mediumDate'}}
      </ion-list-header>
      <ion-item *ngFor="let ev of be.events" class="eventRow" (click)="openDetailPage({eventId: ev.id})">
        <h2 class="eventTitle">{{ev.title}}</h2>
        <ion-note item-right *ngIf="ev.allDay">All Day</ion-note>
        <ion-note item-right *ngIf="!ev.allDay">{{ev.start | date:"HH:mm"}}</ion-note>
        <ion-nav [root]="rootPage"></ion-nav>

      </ion-item>
    </ion-list>
  </div>
</ion-content>