<ion-header>
  <ion-navbar class="headToolBar" [color]="campusDesign.header.color">
    <ion-buttons right>
      <button type="button" ion-button (click)="evSubmitForm()">Next</button>
    </ion-buttons>
    <ion-title class="title title-ios">Forgot Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content [color]="campusDesign.theme.color">
  <form [formGroup]="form" [ngClass]="{'form-is-submit': isSubmit}" (ngSubmit)="evSubmitForm()">
    <div class="bg-forgotpwd-wall"></div>
    <ion-row>
      <ion-col>
        <ion-list class="form">
          <ion-item>
            <ion-label floating>Please enter your login ID</ion-label>
            <ion-input type="text" formControlName="userName"></ion-input>
          </ion-item>
          <div class="msgValid" *ngIf="!form.controls.userName.valid && form.controls.userName.dirty">
            <p *ngIf="form.controls.userName.hasError('required')">This field is required.</p>
            <p *ngIf="form.controls.userName.hasError('maxlength')">Please enter no more than 64 characters.</p>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>