<ion-header>
  <ion-navbar class="headToolBar" color="heading">
    <ion-title>
      <span *ngIf="ev!=null">{{ev.title}}</span>
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="download()" icon-only icon-right>
        <ion-icon name="download" class="downloadIcon"></ion-icon>
      </button>
    </ion-buttons>	
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="ev==null"><IMG src='assets/images/loading3.gif' alt='loading' class="loadingImg"></div>
  <ion-list *ngIf="ev!=null">
      <ion-item>
        <ion-avatar item-left>
           <ion-icon name="calendar" class="calLogo"></ion-icon>
        </ion-avatar>
        <h2>{{ev.title}}</h2>
        <p>{{ev.detail}}</p>
      </ion-item>

      <ion-item *ngIf="ev.allDay">
        Time
        <ion-note item-right>
          All Day
        </ion-note>
      </ion-item>
	 
      <ion-item *ngIf="!ev.allDay">
        Start Time
        <ion-note item-right>
          {{start | date:'short'}}
        </ion-note>
      </ion-item>	  
	 
      <ion-item *ngIf="!ev.allDay">
        End Time
        <ion-note item-right>
          {{end | date:'short'}}
        </ion-note>
      </ion-item>
	  
      <ion-item>
        Location
        <ion-note item-right>
          {{ev.location}}
        </ion-note>
      </ion-item>	  
	
      <ion-item>
        Notes
        <ion-note item-right>
          {{ev.detail}}
        </ion-note>
      </ion-item>
	
  </ion-list>
  
</ion-content>
