<ion-header>
  <ion-navbar [color]="campusDesign.header.color">
    <ion-title>Notification</ion-title>
    <ion-buttons right *ngIf="notifications!=null&&notifications.length>0">
      <button color="light" ion-button icon-only (click)="clearAll()" round> 
        Clear All
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [color]="campusDesign.theme.color">
  <ion-list>
    <ion-item *ngIf="notifications==null">
      <IMG src='assets/images/loading.svg' alt='loading' class="loadingImg">
    </ion-item>
    <ion-item *ngIf="notifications!=null&&notifications.length==0">
      <div class="container-no-data">
        <span><img src="assets/icon/no-data.png" alt=""></span>
        <span>You don't have<br>any notifications right now</span>
      </div>
    </ion-item>

    <ion-item-sliding *ngFor="let notification of notifications">

      <ion-item class="single-line" (click)="openDetailPage(notification)">
        <ion-thumbnail item-left>
          <ion-icon class="announcementIcon ci ci-announcement" *ngIf="notification.type=='bookmark'"></ion-icon>
          <ion-icon class="announcementIcon ci ci-announcement" *ngIf="notification.type=='announcement'"></ion-icon>
          <ion-icon class="announcementIcon ci ci-announcement" *ngIf="notification.type=='calendar'"></ion-icon>
          <ion-icon class="othersIcon ci ci-announcement" *ngIf="notification.type=='others'"></ion-icon>
        </ion-thumbnail>
        <h2>{{notification.title}}</h2>
        <ion-note class="date" item-right>{{notification.publishedAt | date : 'shortDate'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left (click)=" delete(notification.objectId, notification.type, notification.title)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>