page-notification-list {
  .item-block  {
    min-height: 80px;
  }
 .loadingImg {
   display:inline-block;
   margin-top: 25px;
   margin-left: 43%;
 }

 .announcementIcon {
    color: #fff;
    font-size: 40px;
    background: #28bc82;
    height: 48px;
    width: 48px;
    display: inline-block;
    /*border-radius: 50%;*/
    text-align: center;
    line-height: 48px;
 }

 .othersIcon {
    color: #fff;
    font-size: 40px;
    background: #ff9f38;
    height: 48px;
    width: 48px;
    display: inline-block;
    /*border-radius: 50%;*/
    text-align: center;
    line-height: 48px;
 }

 .systemheadlineIcon {
    color: #fff;
    font-size: 40px;
    background: #53ADFF;
    height: 48px;
    width: 48px;
    display: inline-block;
    /*border-radius: 50%;*/
    text-align: center;
    line-height: 48px;
 }



 .item-md ion-thumbnail {
     min-width: 0px;
     min-height: 0px;
 }
  .scroll-content{
    margin-bottom: 0 !important;
  }
}
