body{
  background: #fff;
}
.bg-forgotpwd-wall {
  height: 15rem;
  //background-image: radial-gradient(ellipse farthest-side at 50% 0, lighten(color($colors,primary),10) 0%, color($colors,primary) 80%);
  position: relative;
  &:after {
    content: "\0020";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/images/forgotpwd-bg.png') center bottom;
    background-size: auto 90%;
    background-position-x: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
  }
}
.col {
  padding: 8px 16px;
}
ion-note {
  display: block;
}
.form {
  & > .item-block {
    margin: 8px 0;
    &:first-child {
      border-top: none;
    }
  }
}
.caption, .article {
  margin: 16px 16px 0;
}
.article {
  font-size: 1.7rem;
}
.highlight {
  color: color($colors,danger);
  padding-right:3px;
}

@import "../../scss/pages/_form-validate";