page-home {
  //segment
  ion-segment {
    &.segment {
      background: white;
      border-bottom: 1px solid rgba(black,.1);
      .segment-button {
        height: auto;
        margin-bottom: -1px;
        padding: 0 8px;
        color: color($colors,dark);
        font-size: 1.3rem;
        line-height: 45px;
        border: none;
        border-bottom: 3px solid transparent;
        @media (min-width: $screen-sm-min) {
          font-size: 1.4rem;
        }
        &:first-of-type, &:last-of-type {
          border-radius: 0;
        }
        &.segment-activated {
          //color: color($colors,primary);
          //border-color: color($colors,primary);
          background: none;
        }
      }
    }
  }
  ion-header {
    & + .content-ios {
      & > .fixed-content, & > .scroll-content {
        //margin-top: 93px !important;
      }
    }
    & + .content-md {
      & > .fixed-content, & > .scroll-content {
        margin-top: 104px !important;
      }
    }
  }
  //toolbar
  ion-toolbar {
    .bar-button[icon-only] {
      padding: 0 8px;
      .ion-ios-list-outline {
        font-size: 2.3em;
      }
    }
  }
  .profileImg {
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  .logoImg {
    margin-left: auto;
    margin-right: auto;
  } 
  .bookmarkToolbar {
    height:2em;
    min-height:2em;
  }
  .segment-badge{
    position: absolute;
    background: #f00;
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    top:13px;
  }
}
