page-home {

  .bar-button-md[icon-only] ion-icon,img {
    font-size: 3.5rem;
  }
  .profileImg{
  color:#fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  .logoImg {
    margin-left: auto;
	margin-right: auto;
  }
  
  .bookmarkToolbar {
    height:2em;
	min-height:2em;
  }
  
  ion-col div {
    background-color: #F9FAFB;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
}
