<ion-header>
  <ion-navbar class="headToolBar" color="heading">
    <ion-buttons left>
      <user-avatar [userInfo]="userInfo"></user-avatar>
    </ion-buttons>

    <ion-title class="title title-ios">
      Home
    </ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="tab" color="primary">
    <ion-segment-button value="bookmark">
      Campus Links
    </ion-segment-button>
    <ion-segment-button value="announcement" (ionSelect)="markAnnouncementsRead()">
      Announcements <span class="segment-badge" *ngIf="hasNewAnnouncements"></span>
    </ion-segment-button>
    <ion-segment-button value="event" (ionSelect)="clearNewEvents()">
      Events <span class="segment-badge" *ngIf="hasNewEvents"></span>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <div [ngSwitch]="tab" (swipe)="swipeEvent($event)">
    <ion-list *ngSwitchCase="'bookmark'">
      <page-bookmark-list></page-bookmark-list>
    </ion-list>

    <ion-list *ngSwitchCase="'announcement'">
      <page-announcement-list></page-announcement-list>
    </ion-list>

    <ion-list *ngSwitchCase="'event'">
      <page-event-list></page-event-list>
    </ion-list>

  </div>

</ion-content>
