<ion-toolbar *ngIf="!isSortable">
  <ion-buttons left>
    <bookmark-filter (onRefreshBookmarks)="refreshBookmarks($event)"></bookmark-filter>
  </ion-buttons>

  <ion-searchbar *ngIf="bookmarks!=null&&bookmarks.length>0" (ionFocus)="openSearch()">
  </ion-searchbar>

  <ion-buttons right *ngIf="bookmarks!=null&&bookmarks.length>0">
    <button ion-button icon-only (click)="switchView()">
      <img src="assets/icon/thumb.png" alt="" *ngIf="isTileView" id="listIcon">
      <img src="assets/icon/list.png" alt="" *ngIf="!isTileView" id="gridIcon">
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar *ngIf="isSortable">
  <ion-buttons right>
    <button ion-button (click)="disableSort()" round outline>
      Done
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content style="position:static">
  <div class="dataContainer">

    <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!isSortable">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>


    <ion-item *ngIf="bookmarks==null">
      <IMG src='assets/images/loading3.gif' alt='loading' class="loadingImg">
    </ion-item>
    <ion-item *ngIf="bookmarks!=null&&bookmarks.length==0">
      <div class="container-no-data">
        <span><img src="assets/icon/no-data.png" alt=""></span>
        <span>No data found</span>
      </div>

    </ion-item>

    <div *ngIf="filter=='myFavour' && isSortable">
      <div *ngIf="!isTileView" [dragula]='"bag-one"' [dragulaModel]='bookmarks' class="dragContainer">
        <ion-item *ngFor="let bookmark of bookmarks"
                  bookmarkId="{{bookmark.id}}">
          <ion-thumbnail item-left>
            <img src="assets/images/bookmarks/{{bookmark.id}}.jpg" class="bookmark-list-img" *ngIf="bookmark.iconType==102&&!isUsingRealData">
            <img src="{{campusInfo.host}}/m?pg=Bookmark-Logo&bookmarkId={{bookmark.id}}" class="bookmark-list-img" *ngIf="bookmark.iconType==102&&isUsingRealData">
            <div class="bookmark-list-bg list-icon" [ngStyle]="{'background':bookmark.iconBg}" *ngIf="bookmark.iconType!=102">
              <span [innerHtml]="bookmark.iconCode" [ngStyle]="{'color':bookmark.iconFg}"></span>
            </div>

          </ion-thumbnail>
          <h2>{{bookmark.subject}}</h2>
          <p *ngIf="bookmark.description">{{bookmark.description}}</p>
        </ion-item>
      </div>


      <ion-row wrap *ngIf="isTileView" [dragula]='"bag-one"' [dragulaModel]='bookmarks'
               class="ion-row-bookmark dragContainer responsive-media">
        <ion-col *ngFor="let bookmark of bookmarks"
                 class="ion-col-bookmark cc-width-grid"
                 bookmarkId="{{bookmark.id}}">

          <ion-card color="bookmark">
            <ion-card-content>
              <img src="assets/images/bookmarks/{{bookmark.id}}.jpg" class="bookmark-img" *ngIf="bookmark.iconType==102&&!isUsingRealData">
              <img src="{{campusInfo.host}}/m?pg=Bookmark-Logo&bookmarkId={{bookmark.id}}" class="bookmark-img" *ngIf="bookmark.iconType==102&&isUsingRealData">
              <div class="bookmark-list-bg" [ngStyle]="{'background':bookmark.iconBg}" *ngIf="bookmark.iconType!=102">
                <span [innerHtml]="bookmark.iconCode" [ngStyle]="{'color':bookmark.iconFg}"></span>
              </div>
              <div class="bookmark-item-body">
                <h3>
              {{bookmark.subject}}
                </h3>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="filter!='myFavour' || !isSortable">
      <div *ngIf="!isTileView">
        <ion-item *ngFor="let bookmark of bookmarks"  (press)="enableSort()"
                  (click)="openDetailBookmark(bookmark.id)" bookmarkId="{{bookmark.id}}">
          <ion-thumbnail item-left>
            <img src="assets/images/bookmarks/{{bookmark.id}}.jpg" class="bookmark-list-img" *ngIf="bookmark.iconType==102&&!isUsingRealData">
            <img src="{{campusInfo.host}}/m?pg=Bookmark-Logo&bookmarkId={{bookmark.id}}" class="bookmark-list-img" *ngIf="bookmark.iconType==102&&isUsingRealData">
            <div class="bookmark-list-bg list-icon" [ngStyle]="{'background':bookmark.iconBg}" *ngIf="bookmark.iconType!=102">
              <span [innerHtml]="bookmark.iconCode" [ngStyle]="{'color':bookmark.iconFg}"></span>
            </div>
          </ion-thumbnail>
          <h2>{{bookmark.subject}}</h2>
          <p *ngIf="bookmark.description">{{bookmark.description}}</p>
        </ion-item>
      </div>


      <ion-row wrap *ngIf="isTileView" class="ion-row-bookmark responsive-media">
        <ion-col *ngFor="let bookmark of bookmarks"
                 (click)="openDetailBookmark(bookmark.id)" class="ion-col-bookmark cc-width-grid"
                 bookmarkId="{{bookmark.id}}">
          <ion-card color="bookmark"  (press)="enableSort()">
            <ion-card-content>
              <img src="assets/images/bookmarks/{{bookmark.id}}.jpg" class="bookmark-img" *ngIf="bookmark.iconType==102&&!isUsingRealData">
              <img src="{{campusInfo.host}}/m?pg=Bookmark-Logo&bookmarkId={{bookmark.id}}" class="bookmark-img" *ngIf="bookmark.iconType==102&&isUsingRealData">
              <div class="bookmark-list-bg" [ngStyle]="{'background':bookmark.iconBg}" *ngIf="bookmark.iconType!=102">
                <span [innerHtml]="bookmark.iconCode" [ngStyle]="{'color':bookmark.iconFg}"></span>
              </div>
              <div class="bookmark-item-body">
                <h3>
                  {{bookmark.subject}}
                </h3>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </div>
  </div>
</ion-content>

