$prefix-bookmark: bookmark !default;

page-#{$prefix-bookmark}-list {
  .dataContainer {
    padding-top: 48px;
  }
  .scroll-content {
    margin-bottom: 0 !important;
  }
  @import "../../scss/pages/_bookmark";
  @import "../../scss/pages/_bookmark-card";
  @import "../../scss/pages/_list-total";
}