<ion-header>
  <ion-navbar class="headToolBar" [color]="campusDesign.header.color">
    <ion-buttons right>
      <button type="button" ion-button (click)="evSubmitForm()">Save</button>
    </ion-buttons>
    <ion-title class="title title-ios">Change Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content [color]="campusDesign.theme.color">
  <form [formGroup]="form" [ngClass]="{'form-is-submit': isSubmit}" (ngSubmit)="evSubmitForm()">
    <ion-list class="settingList">
      <ion-item>
        <ion-label class="settingLabel">Current password</ion-label>
        <ion-input type="password" formControlName="oldPassword" placeholder="Your password" text-right></ion-input>
      </ion-item>
      <div class="msgValid" *ngIf="!form.controls.oldPassword.valid && form.controls.oldPassword.dirty">
        <p *ngIf="form.controls.oldPassword.hasError('required')">This field is required.</p>
        <p *ngIf="form.controls.oldPassword.hasError('minlength')">Please enter at least 6 characters.</p>
        <p *ngIf="form.controls.oldPassword.hasError('maxlength')">Please enter no more than 64 characters.</p>
      </div>
      <ion-item>
        <ion-label class="settingLabel">New password</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Minimum length: 6" text-right></ion-input>
      </ion-item>
      <div class="msgValid" *ngIf="!form.controls.password.valid && form.controls.password.dirty">
        <p *ngIf="form.controls.password.hasError('required')">This field is required.</p>
        <p *ngIf="form.controls.password.hasError('minlength')">Please enter at least 6 characters.</p>
        <p *ngIf="form.controls.password.hasError('maxlength')">Please enter no more than 64 characters.</p>
      </div>
      <ion-item>
        <ion-label class="settingLabel">Re-enter new password</ion-label>
        <ion-input type="password" formControlName="passwordConfirm" placeholder="Minimum length: 6" text-right></ion-input>
      </ion-item>
      <div class="msgValid" *ngIf="!form.controls.passwordConfirm.valid && form.controls.passwordConfirm.dirty">
        <p *ngIf="form.controls.passwordConfirm.hasError('required')">This field is required.</p>
        <p *ngIf="form.controls.passwordConfirm.hasError('minlength')">Please enter at least 6 characters.</p>
        <p *ngIf="form.controls.passwordConfirm.hasError('maxlength')">Please enter no more than 64 characters.</p>
        <p *ngIf="form.controls.passwordConfirm.hasError('equal')">Please enter the same value again.</p>
      </div>
    </ion-list>
  </form>
</ion-content>