<ion-header>
  <ion-toolbar color="heading">
    <ion-searchbar #searchBar (ionInput)="doSearch($event)" (ionClear)="doClear()">
    </ion-searchbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light">Cancel</span>
        <!--<ion-icon name="md-close" showWhen="android,windows"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content style="position:static">
  <ion-list class="dataContainer" *ngIf="initListData">

    <ion-item *ngIf="announcements==null">
      <IMG src='assets/images/loading3.gif' alt='loading' class="loadingImg">
    </ion-item>
    <ion-item *ngIf="announcements!=null&&announcements.length==0">
      No data found
    </ion-item>
    <ion-item *ngFor="let announcement of announcements" (click)="openDetailPage({announcementId: announcement.id})">
      <ion-thumbnail item-left>
        <ion-icon name="information-circle" class="announcementIcon"></ion-icon>
      </ion-thumbnail>
      <h2>{{announcement.title}}</h2>
      <p>{{announcement.postedBy}}</p>
      <p class="data-summary" [innerHtml]="announcement.shortDetail"></p>
    </ion-item>
  </ion-list>
</ion-content>