page-search-announcement {
  .searchbar-input {
    background: #fff;
    box-shadow: none;
  }
  .searchbar-md .searchbar-input {
    background: #fff;
    box-shadow: none;
  }
  .content-md {
    color: #333;
    background-color: #fff;
  }
  .bar-button-default-md {
    color: #fff;
  }
  .show-tabbar{
    display: none;
    opacity: 0 !important;
  }
}
