@import "../scss/variables";
@import "../scss/global";

.toolbar-md-heading {
  .toolbar-background-md {
    background: $blue !important;
  }
  .toolbar-title-md {
    color: $white;
  }
}
.toolbar-ios-heading {
  .toolbar-background-ios {
    background: $blue !important;
  }
  .toolbar-title-ios {
    color: $white;
  }
}
.segment-md-primary .segment-button {
  color: $black;
}

.segment-button.segment-activated {
  color: $blue;
  opacity: 1;
  border-bottom: 4px solid #2b9bff;
}

.item-block {
  border-bottom: 1px solid #dedede;
}

.list-md .item-block .item-inner {
  border-bottom: none;
}

.content-md {
  color: $black;
  background-color: #f5f5f5;
}

.searchbar-input {
  border-radius: 2px !important;

}

@media (max-width: $screen-xs-max) {
  .responsive-media {
    .cc-width-grid {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .responsive-media {
    .cc-width-grid {
      -webkit-flex: 0 0 33.3%;
      -ms-flex: 0 0 33.3%;
      flex: 0 0 33.3%;
      max-width: 33.3%;
    }
  }
}

.searchbar-md .searchbar-input {
  padding: 6px 55px;
  height: auto;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #141414;
  background: rgba(0, 0, 0, 0.08);
  box-shadow:none
}
.searchbar-md .searchbar-search-icon {
  top: 8px;
  left: 10px;
}
