@import "../scss/variables";
@import "../scss/global";
@import "../scss/mixin/_mixin";
@import "../scss/mixin/_mixin_skin";
//theme
@include campus-design-skin();
@include campus-design-skin(blue, #1f99ff, #fff);
@include campus-design-skin(black, #323232, #fff);
@include campus-design-skin(green, #5dc38b, #fff);
@include campus-design-skin(orange, #f18f04, #fff);
@include campus-design-skin(purple, #a082d1, #fff);
.loadingImg {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-bottom: 100rem;
    justify-content: center;
}

ion-header ion-icon {
    font-size: 3rem;
    margin-left: 10px;
}

ion-header {
    .bar-button {
        color: white;
    }
}
.picker-toolbar {
    display: flex !important;
    justify-content:space-between !important;
}
.tabs {
    .tabbar {
        background: #f8f8f8;
        border-top: 0.55px solid rgba(black, .1);
    }
    .tab-button {
        &,
        .icon {
            color: #8c8c8c;
        }
    }
}

.header {
    .toolbar-background {
        border: none;
    }
}

.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    display: none;
}

.modal-wrapper {
    .toolbar-ios {
        padding-top: 20px;
    }
}

.list-ios,
.list-md {
    .item-block {
        .item-inner {
            border-bottom-color: color($colors, divider);
        }
    }
}

.list-ios,
.list-md {
    .item-block {
        &:last-child {
            border-bottom: none;
        }
    }
    .item-wrapper {
        &:last-child {
            .item-block {
                border-bottom: 1px solid color($colors, divider);
            }
        }
    }
}

button.item-md:not([detail-none]) {
    .item-inner {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
        padding-right: 32px;
        background-repeat: no-repeat;
        background-position: right 14px center;
        background-size: 14px 14px;
    }
}

.searchbar-input {
    border-radius: 2px !important;
}

.searchbar-md .searchbar-input {
    line-height: 2rem;
}

.searchbar-md .searchbar-search-icon {
    top: 8px;
    left: 10px;
}

.container-no-data {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
        color: #999;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }
}

.has-icon .tab-badge {
    top: 10%;
    right: calc(50% - 27px);
    border-radius: 10px;
}

.page-loading {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.stretcher {
    @media (min-width: $screen-sm-min) {
        width: 50%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    @media (min-width: $screen-md-min) {
        width: 33.3333333333333%;
    }
}
