<ion-content style="position:static">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list (swipe)="swipeEvent($event)">
    <ion-item *ngIf="announcements==null">
      <IMG src='assets/images/loading.svg' alt='loading' class="loadingImg">
    </ion-item>
    <ion-item *ngIf="announcements!=null&&announcements.length==0">
      <div class="container-no-data">
        <span><img src="assets/icon/no-data.png" alt=""></span>
        <span>No Items Found</span>
      </div>
    </ion-item>

    <ion-item *ngFor="let announcement of announcements" (click)="openDetailPage({announcementId: announcement.id})">
      <ion-thumbnail item-left>
        <ion-icon class="announcementIcon ci ci-announcement"></ion-icon>
      </ion-thumbnail>
      <h2 class="ellipsis">{{announcement.title}}</h2>
      <h3 class="ellipsis">
        {{announcement.postedBy}}
        <ion-note class="date" item-right>{{announcement.postedDate | date: 'longDate'}}</ion-note>
      </h3>
      <p class="summary" [innerHtml]="announcement.shortDetail"></p>
    </ion-item>
  </ion-list>
  <ion-item class="total" *ngIf="totalCount>0">
    <p text-center>Total: {{totalCount}}</p>
  </ion-item>
</ion-content>