$searchbar-md-background-color:#B7B7B7 !default;
$searchbar-md-input-line-height:  2rem !default;

page-announcement-list {

 .loadingImg {
   display:inline-block;
   margin-top: 25px;
   margin-left: 43%; 
 }
 
 .announcementIcon { 
    color: #fff;
    font-size: 40px;
    background: #28bc82;
    height: 48px;
    width: 48px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
 } 
 
 .item-md ion-thumbnail {
     min-width: 0px;
     min-height: 0px;
 }
 
}

