<ion-header>
  <ion-navbar class="headToolBar" [color]="campusDesign.header.color">
    <ion-buttons right>
      <button type="button" ion-button (click)="evSubmitForm()">Submit</button>
    </ion-buttons>
    <ion-title class="title title-ios">
      Forgot Password
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content [color]="campusDesign.theme.color">
  <form [formGroup]="form" [ngClass]="{'form-is-submit': isSubmit}" (ngSubmit)="evSubmitForm()">
    <div class="bg-forgotpwd-wall"></div>
    <ion-row>
      <ion-col>
        <ion-note>
          <p class="caption">Please Enter your answer for each question.<br>(The hint answer is case sensitive.)</p>
        </ion-note>
        <ion-list class="form">
          <ion-item>
            <ion-label floating>{{userPasswordHint.question}}</ion-label>
            <ion-input type="text" formControlName="passwordHintAns"></ion-input>
          </ion-item>
          <div class="msgValid" *ngIf="!form.controls.passwordHintAns.valid && form.controls.passwordHintAns.dirty">
            <p *ngIf="form.controls.passwordHintAns.hasError('required')">This field is required.</p>
            <p *ngIf="form.controls.passwordHintAns.hasError('maxlength')">Please enter no more than 80 characters.</p>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>