<ion-header>
  <ion-navbar class="headToolBar" [color]="campusDesign.header.color">
    <ion-buttons right>
      <button type="button" ion-button (click)="evSubmitForm()">Save</button>
    </ion-buttons>
    <ion-title class="title title-ios">
      Change Password
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content [color]="campusDesign.theme.color">
  <form [formGroup]="form" [ngClass]="{'form-is-submit': isSubmit}" (ngSubmit)="evSubmitForm()">
    <div class="bg-forgotpwd-wall"></div>
    <ion-row>
      <ion-col>
        <ion-note>
          <p class="caption">
          Before you can log into CampusCruiser, you must change your password.
          </p>
        </ion-note>
        <ion-list class="form">
          <ion-item>
            <ion-label floating>Current password</ion-label>
            <ion-input type="text" formControlName="oldPassword"></ion-input>
          </ion-item>
          <div class="msgValid" *ngIf="!form.controls.oldPassword.valid && form.controls.oldPassword.dirty">
            <p *ngIf="form.controls.oldPassword.hasError('required')">This field is required.</p>
            <p *ngIf="form.controls.oldPassword.hasError('minlength')">Please enter at least 6 characters.</p>
            <p *ngIf="form.controls.oldPassword.hasError('maxlength')">Please enter no more than 64 characters.</p>
          </div>
          <ion-item>
            <ion-label floating>New password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="msgValid" *ngIf="!form.controls.password.valid && form.controls.password.dirty">
            <p *ngIf="form.controls.password.hasError('required')">This field is required.</p>
            <p *ngIf="form.controls.password.hasError('minlength')">Please enter at least 6 characters.</p>
            <p *ngIf="form.controls.password.hasError('maxlength')">Please enter no more than 64 characters.</p>
          </div>
          <ion-note text-right>Minimum password length: 6</ion-note>
          <ion-item>
            <ion-label floating>Re-enter new password</ion-label>
            <ion-input type="password" formControlName="passwordConfirm"></ion-input>
          </ion-item>
          <div class="msgValid" *ngIf="!form.controls.passwordConfirm.valid && form.controls.passwordConfirm.dirty">
            <p *ngIf="form.controls.passwordConfirm.hasError('required')">This field is required.</p>
            <p *ngIf="form.controls.passwordConfirm.hasError('minlength')">Please enter at least 6 characters.</p>
            <p *ngIf="form.controls.passwordConfirm.hasError('maxlength')">Please enter no more than 64 characters.</p>
            <p *ngIf="form.controls.passwordConfirm.hasError('equal')">Please enter the same value again.</p>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>