$blue:#2b9bff !default;
$white:#fff !default;
$black:#333 !default;
$screen-xs-max:576px !default;
$screen-sm-min:577px !default;
$screen-sm-max:768px !default;
$screen-md-min:1024px !default;
.border-none{
    border:none;
}