page-announcement-detail {
  .bar-button-default-md {
    color: #fff;
  }
  h2 {
    font-size: 1.8rem;
    padding-top: 16px;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 6px 0;
    padding-right: 56px;
    position: relative;
  }
  .date {
    top: 2px;
    right: 0;
    margin: 0;
    font-size: 1.2rem;
    align-self: center;
    position: absolute;
  }
}
