<ion-header>
  <ion-navbar class="headToolBar" color="heading">
    <ion-title>
      <span *ngIf="announcement!=null">Announcement Deatil</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:#fff">

  <div *ngIf="announcement==null"><IMG src='assets/images/loading.svg' alt='loading' class="loadingImg"></div>
  <div *ngIf="announcement!=null">
    <h3 style="font-size: 2rem;padding: 15px 0;">{{announcement.title}}</h3>
    <p [innerHtml]='announcement.detail' style="color: #777;font-size: 1.6rem;line-height: 20px;font-weight: 200;"></p></div>
</ion-content>
